- provide :title, 'Home'
.hero-unit
  %h1 
    This is 
    = succeed '.' do
      %span.logo Hypertasking
  %p Are you fed up with the state of to-do list apps? Are you tired of super simple to-do lists that promise to quicken your workflow, only to have you screaming at their severe lack of features? Are you exhausted by to-do lists that give you way too much control, to the point where they're so fiddly that you spend all day rearranging your tasks and getting nothing done?
  %p 
    Fear not. Hypertasking is coming. Hypertasking aims to solve all these problems by providing a beautiful, usable interface for making todo lists 
    %em your
    way.
  %p.pull-right
    = link_to 'Sign up now', signup_path, alt: 'Sign up', class: 'btn btn-primary btn-large'
    = link_to 'Learn more', about_path, alt: 'About', class: 'btn btn-large'
    = link_to 'Follow on Twitter', 'http://twitter.com/hypertaskingapp', class: 'btn btn-large'
