- provide :title, 'Home'
.hero-unit
  %h1 
    This is 
    = succeed '.' do
      %span.logo Hypertasking
  %p
    Are you fed up with the state of to-do list apps? Do you feel like you're not getting enough done? Fear not. Hypertasking is coming.
  %p.right
    = link_to 'Sign up now', signup_path, alt: 'Sign up', class: 'btn btn-primary btn-large'
    = link_to 'Wait, what?', about_path, alt: 'About', class: 'btn btn-large'
