/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-responsive';

/* Variables */

$white: #fff;
$black: #333;

body {
    & > .container-fluid, & > .container {
        margin-top: 60px;
    }
}

header {
    .logo {
        &, &:hover {
            color: $white;
            text-shadow: 0px 1px 2px $gray;
            text-decoration: none;
        }
    }
}

h2 {
    margin-top: 20px;
    line-height: 1.2;
}

p {
    margin: 9px 0px 0px 0px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.logo {
    font-weight: normal;
    font-family: 'Yesteryear';
}

footer {
    clear: both;
    border-top: 1px $grayLight solid;
    padding-top: 5px;
    margin-top: 30px;

    nav {
        float: right;

        ul {
            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 979px) { // below landscape tablet
    body {
        & > .container-fluid, & > .container {
            margin-top: 0px;
        }
    }
}

@media (max-width: 767px) { // below portrait tablet
    .hero-unit {
        padding: 20px;
        
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 14px;
            line-height: 1.2;
        }
    }

    .btn-large {
        padding: 4px 10px;
        font-size: 13px;
        line-height: 18px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
}
