// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins */

@mixin box-sizing {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    margin-top: 15px;

    input, textarea, select, .uneditable-input {
        width: 100%;
        padding: 15px 5px;
        @include box-sizing;
    }
}
