// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Mixins */

@mixin box-sizing { // Move me to my own mixins file!
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    margin: 15px 0px 30px 0px;

    input, textarea, select, .uneditable-input {
        width: 100%;
        padding: 15px 5px;
        @include box-sizing;
    }
}
