%footer.footer
  - year = Time.new.strftime '%Y'
  - if year.to_i > 2012
    = succeed '-' + year do
      &copy; 2012
  - else
    &copy; 2012
  = link_to 'Dan Mundy', 'http://www.processthings.com/'
  %nav
    %ul
      %li= link_to 'About', about_path
      %li= link_to 'Twitter', 'http://twitter.com/hypertaskingapp'
